<div class="container-fluid teal lighten-5" style="min-height:100vh; padding:40px;">

    <!-- TOP BAR -->
    <div class="row valign-wrapper" style="margin-bottom:30px;">

        <div class="col s12 m6">
            <h4 class="grey-text text-darken-4" style="margin:0;">
                <b>Fila</b> Queue System
            </h4>
            <p class="grey-text">Welcome. Please wait for your turn.</p>
        </div>

        <div class="col s12 m6 right-align">
            <span class="chip white z-depth-1">
                <i class="material-icons tiny">schedule</i>
                Estimated wait: 08 min
            </span>
        </div>

    </div>

    <div class="row">

        <!-- LEFT SIDE -->
        <div class="col s12 l3">

            <!-- CURRENT TURN -->
            <div class="card white z-depth-1" style="border-radius:18px;">
                <div class="card-content center-align">
                    <p class="grey-text">CURRENT TURN</p>
                    <h1 class="teal-text text-darken-2" style="margin:0; font-size:5rem;">A17</h1>
                    <p class="grey-text">Desk 3</p>
                </div>
            </div>

            <!-- NEXT TURNS -->
            <div class="card white z-depth-1" style="border-radius:18px;">
                <div class="card-content">
                    <h6 class="grey-text text-darken-3"><b>Next in line</b></h6>

                    <ul class="collection" style="border:none;">
                        <li class="collection-item">A18</li>
                        <li class="collection-item">A19</li>
                        <li class="collection-item">A20</li>
                        <li class="collection-item">A21</li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- RIGTh -->
        <div class="col s12 l6">

            <div class="card white z-depth-1" style="border-radius:18px;">
                <div class="card-content">

                    <h6 class="grey-text text-darken-3"><b>Now Playing</b></h6>

                    <!-- VIDEO -->
                    <div class="video-container" style="border-radius:15px; overflow:hidden; margin-top:15px;">
                        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>
                    </div>

                    <p class="center-align grey-text" style="margin-top:20px;">
                        While you wait, enjoy useful content and announcements.
                    </p>

                </div>
            </div>

        </div>
    </div>

</div>