<div class="container">

    <div class="row" style="min-height:100vh; display:flex; align-items:center;">

        <!-- LEFT SIDE -->
        <div class="col s12 m6 center-align">
            <h2 class="grey-text text-darken-4 thin">
                Welcome back to <br>
                <span class="teal-text text-darken-2"><i>Fila</i></span>
            </h2>

            <p class="flow-text grey-text text-darken-1">
                Manage queues, reduce waiting time, and deliver a better customer experience.
            </p>

            <p class="grey-text">
                Fast. Smart. Modern.
            </p>
        </div>
        <!-- RIGHT SIDE -->
        <div class="col s12 l3">

            <!-- TAKE TURN -->
            <div class="card white z-depth-1" style="border-radius:18px;">
                <div class="card-content center-align">

                    <h5 class="grey-text text-darken-4">Need a Ticket?</h5>

                    <p class="grey-text">
                        Tap below to join the queue instantly.
                    </p>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input type="text" id="email">
                        <label for="email">Email Address</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">account_box</i>
                        <input type="text" id="Document">
                        <label for="Document">Document</label>
                    </div>
                    <a class="btn-large teal darken-1 waves-effect waves-light"
                       style="border-radius:30px; width:100%; margin-top:15px;" asp-action="Index" asp-controller="User">
                        Get My Turn
                    </a>

                    <div class="divider" style="margin:25px 0;"></div>

                    <p class="grey-text">Average wait time</p>
                    <h4 class="teal-text text-darken-2">08 min</h4>

                </div>
            </div>

            <!-- HELP -->
            <div class="card white z-depth-1" style="border-radius:18px;">
                <div class="card-content center-align">

                    <i class="material-icons medium teal-text">support_agent</i>

                    <h6 class="grey-text text-darken-4"><b>Need Assistance?</b></h6>

                    <p class="grey-text">
                        Ask one of our advisors for help.
                    </p>

                </div>
            </div>

        </div>
    </div>

</div>